#main-logo {
    align-self: center;
}
html {
    height: 100%;
    min-height: 100%;
}
#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images menu sign-in";
}
a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail { 
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    padding-right: 6px;
}
#main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 200px 70px 70px 200;
    grid-template-areas: 
    ". logo ."
    ". search-form ."
    ". search ."
    ". google-text .";
}
#logo {
    grid-area: logo;
    padding: 100px 0px 25px 0px;
    justify-self: center;
    align-self: center;
}
#search-form {
    grid-area: search-form;
    width: 520px;
    height: 30px;
    padding: 5px 0px 5px 0px;
    justify-self: center;
    align-self: center;
    border-radius: 22px;
    border-color: rgba(54, 54, 54, 0.171);
    border-width: 1px;
}
#search-form:hover {
    box-shadow: 0px 0px 4px #7e7e7e91;
}
#search {
    grid-area: search;
    padding: 20px 5px 10px 0px;
    justify-self: center;
    align-self: center;
    font-size: 16px;


}
.boton {
    padding: 8px 21px 8px 21px;
    justify-self: center;
    align-self: center;
    font-size: 15px;
    color: rgba(48, 48, 48, 0.747);
    border: rgb(51, 51, 51);
    border-radius: 4px;
}
.boton:hover {
    color: black;
    border: black;
    border-color: black;
    border-width: 1px;
}
footer {
}
#google-text {
    grid-area: google-text;
    padding: 0px 0px 5px 0px;
    justify-self: center;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#footer-google {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: fixed;
    padding-bottom: 3px;
    background-color: rgba(218, 218, 218, 0.356);
    box-sizing: border-box;
}
#left-footer {
    display: grid;
    grid-template-columns: 90px 90px 120px;
    grid-template-rows: 35px;
    grid-template-areas: 
    "adbertising business how-to";
    padding-left: 0px;
    color: rgb(53, 53, 53);
    box-sizing: border-box;
}
#right-footer {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 35px;
    grid-template-areas: 
    "privacy termns settings";
    padding-right: 15px;
    color: rgb(53, 53, 53);
    box-sizing: border-box;
}    
#adbertising {
    grid-area: adbertising;
    justify-self: center;
    align-self: center;
}
#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}
#how-to {
    grid-area: how-to;
    justify-self: center;
    align-self: center;
}
#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
} 
#termns {
    grid-area: termns;
    justify-self: center;
    align-self: center;
}
#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}
#random-search-btn {
    align-content: center;
    padding: 8px 15px 10px 5px;
    border: rgb(12, 11, 10);
    border-radius: 5%;
    width: 150px;
    height: 30px;
    color: rgb(39, 45, 48);
}
#google-search-btn {
    align-content: center;
    padding: 8px 10px 10px 15px;
    border: rgb(36, 33, 30);
    border-radius: 5%;
    width: 150px;
    height: 30px;
    color: rgb(39, 45, 48);
}
#latino {
    color: rgba(28, 28, 121, 0.89);
}